.Greating-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 40px;
}
.Score--Container{
    background-color: hsl(214,22%,19%);
    margin: 1.5em;
    width: 60%;
    color: #fc7614;
    font-weight: 400;
    border-radius: 40px;
    border: none;
}
@media screen and (max-width: 600px) {
    .Greating-card{

        padding: 10%;
      
    }
    .Score--Container{
        width: 100%;
        
    }
    .Greating-img{
        width: 50%;
    }
  }